@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
p {
    font-family: 'Poppins', sans-serif;
    color: #76ffdd;
    margin-top: 2%;
}
body {
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    background: url('../../gambar/blide.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #333;
}
/* main button */
button{
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  background: linear-gradient(to left, #444444);
  color:#fff;
  border:none;
  position:relative;
  height:45px;
  width: auto;
  font-size:20px;
  padding:0 1cm;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  opacity: calc(50%);
}
button:hover{
  background:#fff;
  color:#000;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: linear-gradient(#474747);
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
h5{
  box-sizing: content-box;
  background-color: #76ffdd;
  box-shadow: #1f6d59 0px 0px 10px  inset;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  height: fill-available;
    color: #1f6d59; 
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-block: 20px;
}