body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background: url('../../gambar/Lam.png') no-repeat center center;
  background-size: cover;
  padding-right: 300px ;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
}

.container {
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-img {
  width: 200px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.form {
  padding: 30px;
  border-radius: 12px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  backdrop-filter: blur(5px);
}

.form_img
  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-block-start: auto;
  }
.form__title {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.form__div {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 8px;
  position: relative;
}

.form__icon {
  font-size: 20px;
  margin-right: 10px;
  color: var(--text-color);
}

.form__div-input {
  flex: 1;
  position: relative;
  display: flex;
}

.form__input {
 width: 100%;
  border: none;
  outline: none;
  padding: 12px 10px 5px 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  opacity: 1;
  box-shadow: 0 0 0 2px rgba(64, 224, 208, 0.3);
}

.form__label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--text-color);
  pointer-events: none;
  transition: 0.3s;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: var(--first-color);
  background: rgba(255, 255, 255, 0.7);
  padding: 0 4px;
  border-radius: 4px;
}

.form__button {
  background-color: var(--first-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.form__button:hover {
  background-color: #003f33;
}

:root {
  body-font: 'Arial', sans-serif;
  text-color: #ffffff;
  first-color: #40e0d0; 
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}