body {
    font-family: 'Poppins', sans-serif;
   background-image: url('../konterku/gambar/BGX2.jpg'); /* Path to your background image */
    background-size: cover; /* Make the image cover the entire body */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; 
    background-color: #141414;
    color: #ffffff;
}
.styled-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif, 'Poppins',;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
}

.styled-table .judul{
    background-color: #470050;
    color: #ffffff;
    text-align: left;
}
.styled-table .judul th{
    padding: 15px;
}
.styled-table .isi td {
    padding: 25px 30px;
    /*background-color: #5f006b;*/
}

.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tr:last-of-type {
    border-bottom: 5px solid #460031;
}


button{
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    background: #470050;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    width: auto;
    font-size:16px;
    padding:0px 20px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin: 5px 8px;
  }
button:hover{
    background:#fff;
    color:#000;
  }
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #460031;
    transition:400ms ease all;
  }
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

#keyword{
    margin-top: 20px;
    margin-bottom: -10px;
  }

#keyword{
    border: 3px solid #460031;
    padding: 6px 15px;
    outline: none;
    border-radius: 15px;
    width: 450px;
  }
h2 {
    font-family: 'Poppins', sans-serif;
    color: #7e14d4;
    margin-top: 25px;
    font-size: 35px;
}
td {
}